.switch-container {
	display: flex;
	align-items: center;
}
label {
	margin: 0 !important;
}
input[type="checkbox"].switch  {
	position: absolute;
   opacity: 0;
   cursor: pointer;
}
input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 34px;
	height: 14px;
	border-radius: 999px;
   background-color: #c7c7c7;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}
input[type="checkbox"].switch:checked + div {
	width: 94px;
	background-position: 0 0;
	background-color: #9bcdc1;
}
input[type="checkbox"].switch + div {
   width: 34px !important;
   height: 14px !important;
}
input[type="checkbox"].switch:checked + div {
	background-color: #9bcdc1;
}
input[type="checkbox"].switch + div > div {
	/* float: left; */
   width: 20px; 
   height: 20px;
	border-radius: inherit;
   background-color: #FAFAFA;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 1px;
   margin-left: 1px;
   -webkit-transform: translate3d(0, -3.5px, 0);
   transform: translate3d(0, -3.5px, 0);
   cursor: pointer;
}
input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
   background-color: #008464;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}
input[type="checkbox"].switch:checked + div > div {
   cursor: pointer;
	-webkit-transform: translate3d(14px, -3.5px, 0);
	transform: translate3d(14px, -3.5px, 0);
}